@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    position: relative;
    margin: 0;
    width: 6em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
    margin-top: 3%;
    animation:  typewriter 2s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6.3em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

th {
  color: gold;
}

span {
  color:rgb(255, 147, 165);
}

tr:nth-child(even) {
  background-color: rgb(33, 40, 46);
}