<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./robot.css">
    </head>
    <body>
    <div class="robot">
        <figure class="circle"></figure>
        <div id="stage" style="width: 120px; height: 300px;">
            <div class="spinner">
                <div class="face1"></div>
                <div class="face2"></div>
                <div class="face3"></div>
                <div class="face4"></div>
                <div class="face5"></div>
                <div class="face6"></div>
            </div>
        </div>
    </div>
    </body>
</html>